/* CSS for the login page */
#wraper-login-page {
    height: 100vh;
    background: #222;
    position: relative;
}

#wraper-login-page .wrap-login-top {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 40px;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#wraper-login-page .container,
#wraper-login-page .container .row,
#wraper-login-page .container .row .col-md-12 {
    height: 100%;
}

#wraper-login-page .wrap-login-top h3 {
    margin-top: 20px;
    font-family: Jost, sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 700;
    font-size: 35px;
}

#wraper-login-page .wrap-login-top form {
    width: 100%;
}

.form-group-t {
    margin-bottom: 20px;
}

#wraper-login-page #form-t-box label {
    font-size: 12px;
    font-weight: 700;
    font-family: Jost, sans-serif;
}

.text-uppercase {
    text-transform: uppercase;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#wraper-login-page #form-t-box .btn.btn-primary.btn-block {
    margin-top: 30px;
    background: #222;
    border: 1px solid #222;
    font-family: Jost, sans-serif;
}

#wraper-login-page .warps-new-usr {
    margin-top: 30px;
}

.ots-prr {
    font-size: 12px;
    font-family: Jost, sans-serif;
    letter-spacing: 1px;
}

.ots-prr a {
    text-decoration: underline;
    color: #222;
}

/* General CSS for the body */
body.index-page {
    background-color: #222;
    font-family: Jost, sans-serif;
}
